.navbar a{
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: larger;
}

.navbar{
    background-color: blueviolet;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}